<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css' ) }}">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/yin-yang.png') }}">
</head>



<body>
    {% block head %}
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('LineBar') }}">
            <img src="/static/img/icons8-fenix-48.png" width="30" height="30" class="d-inline-block align-top">
            HOME
        </a>
    </nav>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    
    {% endblock head %}

    {% block content %}
    <main>  

        
    </main>
    {% endblock %}

    <footer>
        {% block footer %}

        {% endblock %}
    </footer>  
</body>

</html>