<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">



<body>
    {% block content %}
    {{super()}}    
        <section class="glass">
            <div class="dashboard">
                <div class="user">
                    <img src="./static/img/icons8-fenix-48.png" alt="" />
                    <h3>Hello World</h3>
                    <a href="{{ url_for('logout') }}">logout</a>                   
                </div>
                <div class="links">
                    <div class="link">                        
                        <a class="btn btn-primary btn-lg" href="{{ url_for('LineBar') }}" role="button">ChartPlyLiBar</a>
                    </div>
                    <div class="link">
                        <img src="" alt="" />
                        <h2>Item2</h2>
                    </div>
                    <div class="link">
                        <img src="" alt="" />
                        <h2>Item3</h2>
                    </div>
                    <div class="link">
                        <img src="" alt="" />
                        <h2>Library</h2>
                    </div>
                </div>
                <div class="pro">
                    <h2></h2>
                    <img src="" alt="" />
                </div>
            </div>
            <div class="games">
                <div class="status">
                    <h1>Landing Page</h1>
                    <input type="text" />
                </div>
                <div class="cards">
                    <div class="card">
                        <img src="" alt="" />
                        <div class="card-info">
                            <h2>Card 1</h2>
                            <p></p>
                            <div class="progress"></div>
                        </div>
                        <h2 class="percentage">60%</h2>
                    </div>
                    <div class="card">
                        <img src="" alt="" />
                        <div class="card-info">
                            <h2>Card 2</h2>
                            <p></p>
                            <div class="progress"></div>
                        </div>
                        <h2 class="percentage">60%</h2>
                    </div>
                    <div class="card">
                        <img src="" alt="" />
                        <div class="card-info">
                            <h2>SCard 3</h2>
                            <p></p>
                            <div class="progress"></div>
                        </div>
                        <h2 class="percentage">60%</h2>
                    </div>
                </div>
            </div>
        </section> 
    <div class="circle1"></div>
    <div class="circle2"></div>
    {% endblock content %}
</body>

</html>