<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>
  <div id="myDiv">

  </div>

</body>

<script>
  var trace1 = {
    x: [0.27965],
    y: [0.20535],
    text: ['YA00'],
    mode: 'text'
  };





  var vData = "M 0.2744,0.2002, L 0.2794,0.2105, L 0.2849,0.2105, L 0.2799,0.2002, Z, M 0.2689,0.2002,L 0.2739,0.2105 , L 0.2794,0.2105 ,L 0.2744,0.2002,Z, M 0.2634,0.2002,L 0.2684,0.2105,L 0.2739,0.2105, L 0.2689,0.2002,Z";

  var vData3 = "M 0.2579,	0.2002,L 0.2629	,0.2105,L 0.2684,0.2105,L 0.2634,0.2002, Z";

  

  var layout = {
    title: 'CIE XY',
    showlegend:true,
    
    xaxis: {
      autorange: true,
      zeroline: false,
    },
    yaxis: {
      autorange: true,
      showgrid: true
    },
    width: 600,
    height: 500,
    shapes: [

      //Quadratic Bezier Curves
      //Filled Polygon          
      {
        visible:true,
        name:'T2',
        type: 'path',
        path: vData,
        fillcolor: 'rgba(0, 162, 232, 0.5)',
        line: {
          color: 'rgb(255, 140, 184)'
        }
      },

      {
        type: 'path',
        name:'T1',
        path: vData3,
        fillcolor: 'rgba(232, 66, 0, 0.2)',
        line: {
          color: 'rgb(255, 140, 184)'
        }
        
      },


    ]

  };

  var mtrace=[];
  var data = [trace1];
  var config = {
    responsive: true
  }
  Plotly.newPlot('myDiv', data, layout, config);

  var myPlot=$('#myDiv');
  myPlot.on('plotly_legendclick', function(data){
  
    this.layout.shapes[0].visible=false;
});

myPlot.on('plotly_click', function(data){

  console.log(data)
});


</script>

</html>