<!DOCTYPE html>
<html>
<head>

<script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static',filename='js/aws-cognito-sdk.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/amazon-cognito-identity.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</head>
<body>
    <div>Hello <span id="username"></span></div>
    <br/>
    <div id="data_from_protected_api"></div>
    <br/>
    <button onclick="signOut();" class="btn btn-primary">
        sign out
    </button>


    <script>
        $(window).ready(setWelcome);
    </script>
</body>
</html>